/*common css start*/
* {
  padding: 0;
  margin: 0;
}

button,
a {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  text-decoration: none;
}

ul li {
  list-style: none;
}

p {
  font-size: 14px;
  line-height: 1.4;
}

img {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.container {
    max-width: 1700px;
}

.section-title-wrap .top-title {
    position: relative;
    display: inline-block;
    color: #ff7e16;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
}

.section-title-wrap .title {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    color: #0C0A06;
    margin-bottom: 15px;
}

.section-title-wrap .text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #595959;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 25px;
}

.section-title-wrap .top-title:after {
    content: '';
    position: absolute;
    width: 65px;
    height: 1px;
    background: #ff7e16;
    top: 50%;
    margin-left: 15px;
}

/*common css End*/

/*Top Header section css start*/
.header-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0C0A06;
    padding: 5px 0;
}

.header-top-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-header-left {
    display: flex;
    align-items: center;
}

.top-header-left .text {
    margin-bottom: 0;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    transition: all .3s ease;
}

.top-header-left .text:hover{
    color: #ff7e16;
}

.top-header-left .text i {
    color: #FF7E16;
}

.top-header-left .get-offer-btn {
    display: inline-block;
    background: #FF7E16;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 18px;
    border-radius: 4px;
    color: #000;
    border: 1px solid #ff7e16;
    transition: all .3s ease;
}

.top-header-left .get-offer-btn:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #ff7e16;
}

.top-header-social-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.top-header-social-list-item {
    margin-right: 15px;
}

.top-header-social-list-item-link {
    display: inline-block;
    border: 1px solid #ff7e16;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    text-align: center;
    line-height: 20px;
}

.top-header-social-list-item-link i {
    font-size: 10px;
    color: #FF7E16;
}

.top-header-social-list-item-link:hover {
    background: #FF7E16;
    color: #fff;
}

.top-header-social-list-item-link:hover i {
    color: #fff;
}
/*Top Header section css End*/

/*Header Section css start*/
.header-brand-logo {
    display: inline-block;
}

.nav-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.nav-item-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    height: 100%;
}

.nav-list-item {
    margin-right: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0C0A06;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    height: 100%;
}

.nav-item-link i {
    font-size: 14px;
    margin-left: 5px;
}

.nav-item-link:hover {
    color: #ff7e16;
}

.submenu-item-link:hover {
    background-color: #F2F2F2;
    color: #ff7e16;
}

.header-my-account-outer:hover {
    color: #ff7e16;
}

.nav-list-item.item-has-submenu {
    position: relative;
}

.nav-item-submenu {
    position: absolute;
    top: 70px;
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    left: 0;
    opacity: 0;
    transform: scaleY(0);
    visibility: hidden;
    width: 220px;
    z-index: 10;
    padding-left: 0;
    transition: all .4s ease;
}

.submenu-item {
    border-bottom: 1px solid #f4f4f4;
}

.submenu-item-link {
    color: #777777;
    display: block;
    font-size: 14px;
    padding: 10px 20px;
    text-transform: capitalize;
    transition: all 0.15s linear;
    font-weight: 500;
}

.nav-list-item.item-has-submenu:hover .nav-item-submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform: scaleY(1);
}

.header-my-account-item-wrap.item-has-submenu {
    position: relative;
}

.header-my-account-item-wrap.item-has-submenu:hover .nav-item-submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform: scaleY(1);
}

.nav-list-item.item-has-submenu:hover .nav-item-link i {
    transform: rotate(180deg);
    transition: all .5s ease;
}

.header-my-account-item-wrap.item-has-submenu:hover .header-my-account-outer i.fas.fa-chevron-down {
    transform: rotate(180deg);
    transition: all .5s ease;
}

.header-my-account-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0C0A06;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
    height: 100%;
    cursor: pointer;
}

.header-my-account-outer .text {
    margin: 0 5px;
}

.header-bottom-wrapper {
    height: 70px;
    background: #fff;
    z-index: 9;
    position: relative;
}

.header-my-account-item-wrap {
    height: 100%;
}

.header-my-account-outer i {
    font-size: 14px;
}
/*Header Section css End*/

/*Home section css start*/
.home-section {
    background: #FAF7EF;
    position: relative;
    padding: 50px 0;
    overflow: hidden;
}

.gradien-box {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #FF7E16;
    filter: blur(50px);
    top: -30px;
    left: -30px;
    z-index: 99;
    border-radius: 50%;
}

.home-partner-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.home-sec-left .title {
    font-size: 70px;
    color: #0C0A06;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 25px;
}

.home-partner-image-outer .title {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 25px;
    display: inline-block;
}

.home-sec-left {
    max-width: 760px;
}

.home-sec-left .sub-title {
    font-size: 20px;
    font-weight: 400;
    color: #595959;
    font-family: 'DM Sans', sans-serif;
}

.home-sec-left-link-outer {
    margin: 30px 0;
}

.home-sec-left-link-outer a {
    padding: 18px 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    transition: all .3s ease;
    border: 1px solid #FF7E16;
    color: #0c0a06;
}

.home-sec-left-link-outer .trail-link {
    background: #FF7E16;
    color: #fff;
    margin-right: 20px;
}

.home-sec-left-link-outer .learn-link {
    color: #FF7E16;
}

.home-sec-left-link-outer .trail-link:hover {
    background: transparent;
    color: #FF7E16;
}

.home-sec-left-link-outer .learn-link:hover {
    background: #FF7E16;
    color: #fff;
}

.home-partner-image-outer .title:after {
    content: '';
    position: absolute;
    background: #ff7e16;
    width: 70px;
    height: 1px;
    top: 50%;
    margin-left: 15px;
}

.home-partner-list-item {
    margin-right: 20px;
}

.home-partner-list-item-link {
    display: inline-block;
}

.home-sec-right img {
    width: 100%;
    max-width: 750px;
}
/*Home section css End*/

/*About section css start*/
.about-section {
    padding: 50px 0;
}

.about-award-wrap {
    display: flex;
}

.about-sec-left img {
    width: 100%;
    max-width: 600px;
}

.about-sec-left {
    text-align: center;
}

.about-point-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.about-point-left {
    margin-right: 50px;
}

.about-point {
    color: #595959;
    font-size: 18px;
    font-weight: 400;
    transition: all .3s ease;
}

.about-point i {
    font-size: 14px;
    margin-right: 7px;
    color: #FF7E16;
}

.about-point:hover {
    color: #FF7E16;
}

.about-award-title {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.about-award-item img {
    width: 100%;
    max-width: 200px;
}

.about-award-wrap {
    position: relative;
}

.about-award-wrap .owl-nav .owl-prev {
    position: absolute;
    right: 8%;
    top: -30%;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border: 1px solid #FFA811!important;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.about-award-wrap .owl-nav .owl-next {
    position: absolute;
    right: 1%;
    top: -30%;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border: 1px solid #FFA811!important;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.about-award-wrap .owl-nav .owl-prev span,
.about-award-wrap .owl-nav .owl-next span {
    font-size: 26px;
    line-height: 26px;
    color: #FFA811;
    transition: all 0.4s ease-out;
}


.about-award-wrap .owl-nav .owl-prev:hover,
.about-award-wrap .owl-nav .owl-next:hover {
    background: #ff7e61!important;
}

.about-award-wrap .owl-nav .owl-prev:hover span,
.about-award-wrap .owl-nav .owl-next:hover span {
    color: #fff;
}
/*About section css End*/

/*Data Provide section css start*/
.data-provide-section {
    background: #FAF7EF;
    padding: 50px 0;
}

.explore-more-btn-link {
    display: inline-block;
    background: #ff7e16;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    border: 1px solid #ff7e16;
    border-radius: 5px;
}

.explore-more-btn-link:hover {
    background: transparent;
    color: #ff7e16;
}
/*Data Provide section css end*/

/*Speciality section css start*/
.speciality-section {
    padding: 50px 0;
}

.section-title-wrap.mx-width-speciality {
    max-width: 850px;
    width: 100%;
}

.speciality-item-outer {
    background: #F3F3F3;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;
    transition: all .3s ease;
}

.speciality-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    transition: all .3s ease;
}

.speciality-item-top i {
    font-size: 30px;
    color: #FF7E16;
    transition: all .3s ease;
}

.speciality-item-top .item-number {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    color: #E1E1E1;
    transition: all .3s ease;
}

.speciality-item-title {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    color: #0C0A06;
    margin-bottom: 20px;
    transition: all .3s ease;
}

.speciality-list {
    margin-bottom: 25px;
    background: #FAFAFA;
    padding: 20px;
    border-radius: 5px;
    transition: all .3s ease;
}

.speciality-list-item {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #595959;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.speciality-item-outer .get-started-link {
    display: block;
    background: #f4e5d8;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #FF7E16;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    transition: all .3s ease;
}

.speciality-item-outer:hover {
    background: #0C0A06;
}

.speciality-item-outer:hover .speciality-item-top i {
    color: #fff;
}

.speciality-item-outer:hover .speciality-item-top .item-number {
    color: #1D1717;
}

.speciality-item-outer:hover .speciality-item-title {
    color: #fff;
}

.speciality-item-outer:hover .speciality-list {
    background: #151413;
}

.speciality-item-outer:hover .speciality-list-item {
    color: #fff;
}

.speciality-item-outer:hover .get-started-link {
    background: #FF7E16;
    color: #fff;
}
/*Speciality section css End*/

/*Customer section css start*/

.customer-section {
    padding: 50px 0;
}

.section-title-wrap .top-title.separate-color {
    color: #160803;
}

.customer-items-wrap {
    margin-top: 40px;
    position: relative;
}

.customer-item-outer {
    display: inline-block;
}

.customer-item-outer img {
    width: 100%;
    max-width: 200px;
}

.customer-items-wrap .owl-nav .owl-prev {
    position: absolute;
    right: 6%;
    top: -100%;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border: 1px solid #FFA811!important;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.customer-items-wrap .owl-nav .owl-next {
    position: absolute;
    right: 2%;
    top: -100%;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border: 1px solid #FFA811!important;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.customer-items-wrap .owl-nav .owl-prev span,
.customer-items-wrap .owl-nav .owl-next span {
    font-size: 26px;
    line-height: 26px;
    color: #FFA811;
    transition: all 0.4s ease-out;
}


.customer-items-wrap .owl-nav .owl-prev:hover,
.customer-items-wrap .owl-nav .owl-next:hover {
    background: #ff7e61!important;
}

.customer-items-wrap .owl-nav .owl-prev:hover span,
.customer-items-wrap .owl-nav .owl-next:hover span {
    color: #fff;
}
/*Customer section css End*/

/*Choose section cssn start*/
.choose-section {
    padding: 50px 0;
}

.choose-item-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.choose-item-left {
    margin-right: 20px;
}

.choose-item-right .title {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    color: #0C0A06;
    margin-bottom: auto;
    transition: all .3s ease;
}

.choose-item-outer:hover .choose-item-right .title,
.choose-item-outer:hover .choose-item-right .text {
    color: #FF7E16;
}

.choose-item-right .text {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    transition: all .3s ease;
}

.choose-item-left img {
    width: 100%;
    max-width: 60px;
}

.choose-sec-right img {
    width: 100%;
    max-width: 620px;
}

.choose-sec-right {
    text-align: center;
}
/*Choose section cssn End*/

/*Secure data section css start*/
.secure-data-section {
    padding: 50px 0;
}

.section-title-wrap.mx-width-secure-data {
    width: 100%;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.secure-data-image {
    margin-top: 30px;
    width: 100%;
}
/*Secure data section css End*/

/*Contact section css start*/
.home-contact-section {
    padding: 50px 0;
}

.contact-text-wrap {
    position: relative;
    z-index: 0;
    background-image: url(../images/contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px;
    border-radius: 10px;
}

.contact-text-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0C0A06;
    opacity: 0.69;
    z-index: -1;
    border-radius: 10px;
}

.contact-left .text {
    font-size: 20px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    line-height: 30px;
}

.contact-left .title {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    margin-bottom: 10px;
    transition: all .3s ease;
}

.contact-left .title:hover{
    color: #FF7E16;
}

.contact-left {
    width: 100%;
    max-width: 800px;
}

.contact-right {
    text-align: right;
}

.contact-us-link {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    background: #FF7E16;
    padding: 12px 25px;
    border-radius: 5px;
    transition: all .3s ease;
    border: 1px solid #FF7E16;
}

.contact-us-link:hover{
    background: transparent;
    color: #FF7E16;
}
/*Contact section css End*/

/*Testimonial section css start*/
.trustpoint-section {
    padding: 50px 0;
}

.testimonial-section {
    padding: 50px 0;
    background: #FAF7EF;
    position: relative;
}

.section-title-wrap.testimonial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.view-all-testimonial-link {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    background: #FF7E16;
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid #FF7E16;
    transition: all .3s ease;
}

.view-all-testimonial-link:hover{
    background: transparent;
    color: #FF7E16;
}

.testimonial-item-outer {
    background: #fff;
    border-radius: 5px;
    padding: 30px;
}

.testimonial-author-outer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.testimonial-author-outer .author-image {
    margin-right: 20px;
}

.testimonial-author-outer .author-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testimonial-author-outer .author-info .author-name {
    font-size: 22px;
    font-weight: 500;
    color: #061421;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 5px;
}

.testimonial-author-outer .author-info .description {
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #595959;
    margin-bottom: 0;
}

.testimonial-rating-list {
    display: flex;
    align-items: center;
    justify-content: end;
}

.testimonial-rating-list-item i {
    font-size: 14px;
    color: #00B67A;
}

.testimonial-info .testimonial-title {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    font-family: 'Kanit', sans-serif;
}

.testimonial-info .text {
    font-size: 18px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
    color: #595959;
    line-height: 30px;
    margin-bottom: 0;
}

.testimonial-items-wrap {
    position: relative;
}

.testimonial-items-wrap .owl-nav {
    text-align: center;
    margin-top: 20px;
}

.testimonial-items-wrap .owl-nav .owl-prev {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border: 1px solid #FFA811!important;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 30px;
}

.testimonial-items-wrap .owl-nav .owl-next {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border: 1px solid #FFA811!important;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.testimonial-items-wrap .owl-nav .owl-prev span,
.testimonial-items-wrap .owl-nav .owl-next span {
    font-size: 26px;
    line-height: 26px;
    color: #FFA811;
    transition: all 0.4s ease-out;
}

.testimonial-items-wrap .owl-nav .owl-prev:hover,
.testimonial-items-wrap .owl-nav .owl-next:hover{
    background: #ff7e61!important;
}

.testimonial-items-wrap .owl-nav .owl-prev:hover span, 
.testimonial-items-wrap .owl-nav .owl-next:hover span{
    color: #fff;
}

.gradien-box2 {
    position: absolute;
    width: 130px;
    height: 130px;
    background: #FF7E16;
    border-radius: 50%;
    filter: blur(50px);
    top: 50px;
    left: -30px;
}

.gradien-box3 {
    position: absolute;
    width: 130px;
    height: 130px;
    background: #FF7E16;
    border-radius: 50%;
    filter: blur(50px);
    right: 50px;
    bottom: 0;
}
/*Testimonial section css End*/

/*Case study section css start*/
.case-study-section {
    padding: 50px 0;
    position: relative;
}

.case-study-items-wrap {
    margin-top: 30px;
}

.case-study-item-outer {
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.case-study-item-outer:after {
    content: '';
    position: absolute;
    background: linear-gradient(359.75deg, rgba(12, 10, 6, 0.8) 0.2%, rgba(12, 10, 6, 0) 99.77%);
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
}

.case-study-info {
    position: absolute;
    bottom: 50px;
    left: 80px;
}

.case-study-item-outer img {
    border-radius: 5px;
    width: 100%;
    height: 376px;
    object-fit: cover;
}

.case-study-info .top-title {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
}

.case-study-info .title {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    transition: all .3s ease;
}

.case-study-item-outer:hover .case-study-info .title {
    color: #ff7e61;
}

.case-study-info .top-title:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 1px;
    background: #fff;
    top: 50%;
    margin-left: 10px;
}

.case-study-items-wrap .owl-nav .owl-prev {
    position: absolute;
    right: 8%;
    top: -20%;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border: 1px solid #FFA811!important;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.case-study-items-wrap .owl-nav .owl-next {
    position: absolute;
    right: 5%;
    top: -20%;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    border: 1px solid #FFA811!important;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

 .case-study-items-wrap .owl-nav .owl-next span,
 .case-study-items-wrap .owl-nav .owl-prev span {
    font-size: 26px;
    line-height: 26px;
    color: #FFA811;
    transition: all 0.4s ease-out;
}

.case-study-items-wrap .owl-nav .owl-prev:hover,
.case-study-items-wrap .owl-nav .owl-next:hover {
    background: #ff7e61!important;
}

.case-study-items-wrap .owl-nav .owl-prev:hover span,
.case-study-items-wrap .owl-nav .owl-next:hover span {
    color: #fff;
}
/*Case study section css End*/

/*Blog section css start*/
.blog-section {
    padding: 50px 0;
    background: #F8F8F8;
}

.blog-item-image-outer {
    position: relative;
    display: block;
}

.blog-item-category-title {
    position: absolute;
    top: 30px;
    right: 20px;
    background: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    color: #FF7E16;
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    transition: all .3s ease;
}

.blog-item-wrap {
    margin-bottom: 30px;
}

.blog-item-info-outer {
    margin-top: 15px;
}

.blog-item-info-top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.blog-item-info-top .post-info {
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #FF7E16;
}

.blog-item-info-top .post-info:last-child {
    margin-left: 30px;
}

.blog-item-info-top .post-info i {
    margin-right: 5px;
}

.blog-item-info-title {
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
    color: #160803;
}

.blog-item-wrap:hover .blog-item-category-title {
    background: #FF7E16;
    color: #fff;
}

.blog-item-wrap:hover .blog-item-info-title {
    color: #FF7E16;
    text-decoration-line: underline;
}
/*Blog section css End*/


/*Footer section css start*/
.footer-section {
    padding-top: 100px;
    background: #191919;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.gradien-box4 {
    position: absolute;
    width: 240px;
    height: 240px;
    background: #FF7E16;
    border-radius: 50%;
    filter: blur(276.5px);
    top: 50%;
    left: 150px;
    z-index: -1;
}

.gradien-box5 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #00C969;
    border-radius: 50%;
    filter: blur(201px);
    bottom: 0;
    left: 50%;
    z-index: -1;
}

.gradien-box6 {
    position: absolute;
    width: 240px;
    height: 240px;
    background: #FF7E16;
    border-radius: 50%;
    filter: blur(246.5px);
    top: 50%;
    right: 150px;
    z-index: -1;
}

.footer-item-wrap .footer-logo-inner {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-item-wrap .text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    line-height: 30px;
    color: #fff;
}

.footer-contact-info .footer-item {
    margin-bottom: 10px;
}

.footer-contact-info .footer-item .item-link {
    color: #253D4E;
    font-size: 16px;
    margin-bottom: 0;
}

.footer-item-wrap .footer-item-title {
    font-size: 26px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    margin-bottom: 15px;
}

.footer-item-wrap .footer-service-list {
    padding-left: 0;
}

.footer-service-list-item {
    margin-bottom: 12px;
}

.footer-service-list-link {
    position: relative;
    font-size: 16px;
    color: #fff;
    display: block;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    transition: all .5s ease;
}

.footer-service-list-link:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background: #ff7e16;
    left: 0;
    top: 50%;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
}

.footer-service-list-link:hover::before {
    visibility: visible;
    opacity: 1;
}

.footer-service-list-link:hover {
    color: #ff7e16;
    padding-left: 20px;
}

.footer-item-wrap .install-app-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.footer-item-wrap .footer-payment-image {
    object-fit: contain;
    width: 200px;
}

.footer-social-wrap {
    display: flex;
    align-items: center;
}

.socials-link-list {
    display: flex;
    padding-left: 8px;
    margin-bottom: 0;
}

.socials-link-list-item {
    margin-right: 10px;
}

.socials-link-list-item a {
    width: 30px;
    height: 30px;
    border: 1px solid #FF7E16;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all .3s ease;
}

.socials-link-list-item a i {
    font-size: 12px;
    color: #FF7E16;
}

.footer-social-wrap .follow-us-text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
}

.footer-item-wrap {
    margin-bottom: 30px;
}

.socials-link-list-item a:hover {
    background: #FF7E16;
}

.socials-link-list-item a:hover i {
    color: #fff;
}

.footer-other-page-link-outer {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 40px;
    border-radius: 10px;
}

.footer-other-page-link-outer span {
    font-size: 18px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    position: relative;
    padding-right: 40px;
}

.footer-other-page-link-outer span:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 1px;
    background: #fff;
    top: 50%;
    margin-left: 7px;
}

.footer-other-page-link-outer .link {
    font-size: 18px;
    font-weight: 400;
    color: #FF7E16;
    font-family: 'Kanit', sans-serif;
}

.footer-bottom-outer {
    margin-top: 80px;
    border-top: 1px solid #fff;
    padding: 25px 0;
}

.footer-bottom-outer .copyright-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    margin-bottom: 0;
}

.footer-bottom-outer .copyright-text a {
    color: #ff7e16;
    margin-left: 5px;
    display: inline-block;
}
/*Footer section css End*/




/*About page css start*/

/*Banner section css start*/
.banner-section {
    position: relative;
    padding: 100px 0;
    background: #FAF7EF;
    overflow: hidden;
}

.banner-section .gradien-box {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #FF7E16;
    filter: blur(50px);
    top: -30px;
    left: -30px;
    z-index: 99;
    border-radius: 50%;
}

.banner-section .gradien-box1 {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #FF7E16;
    filter: blur(50px);
    bottom: -30px;
    right: -30px;
    z-index: 99;
    border-radius: 50%;
}

.banner-section .banner-info {
    text-align: center;
}

.banner-section .banner-info .title {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Kanit';
    color: #0C0A06;
}

.banner-section .banner-info .banner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
}

.banner-section .banner-info .banner-item li.active {
    margin-left: 20px;
    position: relative;
    padding-left: 5px;
}

.banner-section .banner-info .banner-item li a {
    font-size: 16px;
    font-weight: 500;
    color: #0C0A06;
    font-family: 'DM Sans';
}

.banner-section .banner-info .banner-item li.active:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #FF7E16;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    border-radius: 50%;
}

.banner-section .banner-info .banner-item li.active a {
    color: #FF7E16;
}
/*Banner section css End*/

/*About section css start*/
.about-our-mission-wrap {
    padding: 25px 0;
    border-top: 1px solid #0a080575;
}

.about-our-mission-outer {
    display: flex;
    margin-bottom: 20px;
}

.about-our-mission-info {
    margin-left: 20px;
}

.about-our-mission-outer i {
    font-size: 40px;
    color: #FF7E16;
    margin-top: 5px;
}

.about-our-mission-info .title {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #000;
}

.about-our-mission-info .text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #595959;
    margin-bottom: 0;
}
/*About section css End*/

/*About page css End*/

/*B2B page css start*/

/*Home section css start*/
.b2b-home-section {
    position: relative;
    padding: 80px 0 0;
    background: #FAF7EF;
    z-index: 0;
}

.b2b-home-section .gradien-box {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #FF7E16;
    filter: blur(50px);
    top: 60px;
    left: -30px;
    z-index: -1;
    border-radius: 50%;
}

.b2b-home-section .gradien-box1 {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #FF7E16;
    filter: blur(50px);
    bottom: 160px;
    right: -30px;
    z-index: -1;
    border-radius: 50%;
}

.b2b-home-sec-right {
    position: relative;
    bottom: -75px;
}

.b2b-home-user-info {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 360px;
}

.b2b-home-main-info {
    width: 100%;
    max-width: 805px;
}

.b2b-home-sec-left .title {
    font-size: 45px;
    color: #0C0A06;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 25px;
}

.b2b-home-sec-left .sub-title {
    font-size: 20px;
    font-weight: 400;
    color: #595959;
    font-family: 'DM Sans', sans-serif;
}

.b2b-home-sec-left .form-free-trial {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.b2b-home-sec-left .form-free-trial input {
    height: 60px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgb(235 166 111 / 30%);
}

.b2b-home-sec-left .form-free-trial .free-trial-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: 1px solid #FF7E16;
    background: #FF7E16;
    padding: 10px 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Kanit';
    border-radius: 5px;
    margin-right: 10px;
    transition: all .3s ease;
}

.b2b-home-sec-left .form-free-trial .free-trial-btn:hover {
    background: transparent;
    color: #FF7E16;
}

.b2b-home-sec-left .form-free-trial input:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 126 22 / 44%);
}
/*Home section css End*/

/*B2B lead section css start*/
.b2b-lead-section {
    padding: 50px 0;
}

.b2b-lead-sec-left img {
    width: 100%;
    max-width: 750px;
}

.b2b-accuracy-rate-outer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-right: 2px solid #ff7e1696;
}

.b2b-accuracy-rate-outer i {
    font-size: 35px;
    color: #FF7E16;
}

.b2b-accuracy-rate-info {
    margin-left: 15px;
}

.b2b-accuracy-rate-info .title {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #000;
    margin-bottom: 5px;
}

.b2b-accuracy-rate-info .text {
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #595959;
    margin-bottom: 0;
}

.b2b-accuracy-rate-outer.nb {
    border-right: none;
}
/*B2B lead section css End*/

/*Industry bases section css start*/
.industry-bases-section {
    padding: 50px 0;
}

.industry-bases-sec-image img {
    width: 100%;
    max-width: 620px;
}

.industry-bases-sec-image {
    text-align: center;
}
/*Industry bases section css End*/

/*Faq section css start*/
.faq-section {
    padding: 50px 0;
    background: #F8F8F8;
}

.faq-items-wrapper .accordion-button {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Kanit';
    color: #160803;
}

.faq-items-wrapper .accordion-item {
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.faq-items-wrapper .accordion-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #595959;
}
/*Faq section css End*/

.b2b-home-partner-section {
    padding: 30px 0;
}
/*B2B page css End*/

/*Ecommerce page css start*/
.ecommerce-table-section {
    padding: 50px 0;
}

.counter-section {
    padding: 50px 0;
}

.counter-item-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.counter-item-outer img {
    width: 100%;
    max-width: 55px;
}

.counter-item-info {
    margin-left: 20px;
}

.counter-item-info .title {
    font-size: 36px;
    font-weight: 600;
    font-family: 'Kanit';
    color: #0C0A06;
    margin-bottom: 5px;
}

.counter-item-info .text {
    font-size: 18px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #595959;
    margin-bottom: 0;
}
/*Ecommerce page css End*/

/*Industry page css start*/
.industry-leads-table-wrap {
    position: relative;
}

.industry-leads-user-image {
    position: absolute;
    top: 95px;
    width: 100%;
    max-width: 300px;
    right: 360px;
}

.contact-section {
    padding: 60px 0;
    background: #F8F8F8;
}

.contact-sec-left {
    background: #fff;
    border: 1px solid rgba(12, 10, 6, 0.08);
    border-radius: 10px;
    width: 100%;
    max-width: 620px;
    margin: auto;
    padding: 80px 40px;
}

.contact-sec-left .title {
    font-size: 36px;
    color: #0C0A06;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 25px;
}

.contact-item-wrap {
    border-left: 4px solid #EEE;
}

.contact-item-outer {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Kanit';
    color: #595959;
    margin-bottom: 20px;
}

.contact-item-outer i {
    font-size: 20px;
    margin-right: 5px;
    color: #FF7E16;
}

.contact-item-outer strong {
    color: #000;
    margin-right: 5px;
}

.contact-item-outer a {
    color: #595959;
}

.contact-item-outer a:hover {
    color: #FF7E16;
}

.contact-form .input-field-wrapper {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 25px;
}

.contact-form .input-field-wrapper.textarea {
    height: 150px;
}


.contact-form .input-field-wrapper i {
    position: absolute;
    line-height: 50px;
    color: #FF7E16;
    left: 15px;
}

.contact-form .input-field-wrapper input, .input-field-wrapper textarea {
    height: 100%;
    width: 100%;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Kanit';
    outline: none;
    border: none;
    color: #595959;
    background: #fff;
    border-radius: 5px;
    line-height: 40px;
}

.contact-form .input-field-wrapper input:focus {
    box-shadow: none;
}

.ageer-field-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ageer-field-wrapper input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background: #F5F3F1;
    border: 1px solid #EEEEEE;
    margin-top: 5px;
}

.ageer-field-wrapper label {
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #5E5E5E;
}

.contact-form-btn {
    background: #FF7E16;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #FF7E16;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #F5F3F1;
    margin-top: 20px;
    text-transform: capitalize;
    transition: all .3s ease;
}

.contact-form-btn:hover {
    background: transparent;
    color: #FF7E16;
}
/*Industry page css End*/

/*Login Modal css start*/
.modal-form-wrapper {
    position: relative;
    padding: 15px;
}

.modal-form-wrapper .modal-close-btn {
    position: absolute;
    right: -30px;
    top: -30px;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #FF7E16;
}

.modal-form-wrapper .modal-close-btn i {
    color: #0C0A06;
    font-size: 14px;
    line-height: 35px;
}

.modal-form-wrapper .form-title {
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    font-family: 'Kanit';
    color: #FF7E16;
    margin-bottom: 20px;
}

.sign-up-form {
    margin-bottom: 20px;
}

.sign-up-form .form-item-top-label {
    font-size: 15px;
    font-weight: 500;
    color: #0C0A06;
    font-family: 'Kanit';
    margin-bottom: 10px;
}

.sign-up-form .input-field-wrapper {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 25px;
}

.sign-up-form .input-field-wrapper i {
    position: absolute;
    line-height: 50px;
    color: #FF7E16;
    left: 15px;
}

.sign-up-form .input-field-wrapper input {
    height: 100%;
    width: 100%;
    padding-left: 39px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Kanit';
    outline: none;
    border: none;
    color: #595959;
    background: #F8F8F8;
    border-radius: 5px;
    line-height: 40px;
    border: 1px solid #EEEEEE;
}

.sign-up-form .input-field-wrapper:last-child {
    margin-bottom: 0;
}

.sign-up-form .contact-form-btn {
    margin-top: 0;
}

.login-link-text {
    font-size: 17px;
    font-weight: 500;
    color: #0C0A06;
    font-family: 'DM Sans';
    margin-right: 10px;
}

.login-link-inner {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #FF7E16;
    display: inline-block;
}

.login-link-inner:hover {
    color: #000;
}

.form-bottom-separator {
    margin: 20px 0;
    display: block;
    text-align: center;
    position: relative;
    color: #0C0A06;
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans';
}

.form-bottom-separator:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 1px;
    background: #EEEEEE;
    top: 50%;
    margin-left: 10px;
}

.form-bottom-separator:before {
    content: '';
    position: absolute;
    width: 185px;
    height: 1px;
    background: #EEEEEE;
    top: 50%;
    left: 0;
    margin-right: 10px;
}

.form-bottom-outer {
    display: flex;
    align-items: center;
}

.sign-up-other-link {
    display: flex;
    align-items: center;
    margin-right: 15px;
    background: #F8F8F8;
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Kanit';
    color: #0C0A06;
    border-radius: 5px;
    border: 1px solid rgba(255, 126, 22, 0.3);
}

.sign-up-other-link img {
    width: 14px;
    margin-right: 10px;
}

.sign-up-other-link:last-child {
    margin-right: 0;
}

.sign-up-other-link:hover {
    background: #fffe;
    border: 1px solid rgba(255, 126, 22, 0.3);
    color: #ff7e16;
}

.forgot-remember-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.forgot-remember-outer .remember-outer input {
    width: 12px;
    border: 1px solid #FF7E16;
}

.forgot-remember-outer .remember-outer label {
    font-size: 16px;
    font-weight: 400;
    color: #595959;
    font-family: 'DM Sans';
}

.forgot-password-link {
    font-size: 16px;
    font-weight: 400;
    color: #7607FF;
    font-family: 'Kanit';
}

.forgot-password-link:hover {
    color: #ff7e16;
}
/*Login Modal css End*/


/*Recriutment page css start*/
.recruitment-home-section {
    padding: 60px 0 200px;
    background: #FAF7EF;
    position: relative;
    z-index: 0;
    margin-bottom: 450px;
}

.recruitment-home-info .form-free-trial {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.recruitment-home-info .form-free-trial input {
    height: 60px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid rgb(235 166 111 / 30%);
}

.recruitment-home-info .form-free-trial .free-trial-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: 1px solid #FF7E16;
    background: #FF7E16;
    padding: 10px 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Kanit';
    border-radius: 5px;
    margin-right: 10px;
    transition: all .3s ease;
}

.recruitment-home-info .form-free-trial .free-trial-btn:hover {
    background: transparent;
    color: #FF7E16;
}

.recruitment-home-info .form-free-trial input:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 126 22 / 44%);
}

.recruitment-home-bg {
    position: absolute;
    top: 60px;
    z-index: -1;
    width: 100%;
    max-width: 1800px;
}

.recruitment-home-info {
    width: 100%;
    max-width: 950px;
    margin: auto;
    text-align: center;
}

.recruitment-home-section .gradien-box {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #FF7E16;
    filter: blur(50px);
    top: -30px;
    left: -30px;
    z-index: 0;
    border-radius: 50%;
}

.recruitment-home-section .gradien-box1 {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #FF7E16;
    filter: blur(50px);
    bottom: 70px;
    right: -30px;
    z-index: 0;
    border-radius: 50%;
}

.recruitment-table-image {
    position: absolute;
    z-index: 9;
    top: 63%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.recruitment-table-image img {height: 597px;}

.data-accuracy-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 4px;
}

.data-accuracy-label h6 {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    font-family: 'DM Sans';
    margin-bottom: 0;
}

.data-accuracy-label p {
    font-size: 18px;
    font-weight: 600;
    font-family: 'DM Sans';
    color: #000;
    margin-bottom: 0;
}

.data-accuracy-outer .progress {
    height: 6px;
}

.data-accuracy-outer .progress .progress-bar {
    background: #FF7E16;
}
/*Recriutment page css end*/

/*Blog page css start*/
.blog-section.page {
    background: #fff;
}

.blog-item-post-date-outer {
    position: absolute;
    top: 50px;
    left: 30px;
    background: #FF7E16;
    padding: 12px 17px;
    border-radius: 5px;
}

.blog-item-post-date-outer .date {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Kanit';
    color: #fff;
}

.blog-item-post-date-outer .year {
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.blog-item-outer {
    margin-bottom: 40px;
}

.blog-item-outer:hover .blog-item-info-title {
    color: #ff7e16;
}

.blog-item-info-text {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 30px;
    font-family: 'DM Sans';
}

.blog-explore-more-btn {
    display: inline-block;
    border: 1px solid #ff7e16;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #ff7e16;
}

.blog-explore-more-btn:hover {
    background: #ff7e16;
    color: #fff;
}

.search-form {
    margin-bottom: 30px;
}

.search-form input {
    background: #F8F4F1;
    border-radius: 5px;
    height: 50px;
    border: none;
}

.search-form input:focus {
    box-shadow: none;
    border: none;
}

.category-items-wrapper,
.recent-blog-items-wrap,
.tag-items-wrapper,
.blog-contact-form {
    background: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

.search-form .serch-btn {
    border: 1px solid #FF7E16;
    background: #FF7E16;
    padding: 0 20px;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
}

.search-form .serch-btn i {
    font-size: 14px;
    color: #fff;
}

.blog-right-item-title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Kanit';
    color: #000;
    margin-bottom: 20px;
}

.category-item-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.category-item-left,.category-item-right {
    font-size: 17px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #0C0A06;
    display: inline-block;
    transition: all .3s ease;
}

.category-item-outer:hover .category-item-left,
.category-item-outer:hover .category-item-right {
    color: #FF7E16;
}

/*.recent-blog-items-wrap {
    background: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}*/

.recent-blog-item-outer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.recent-blog-item-image img {
    width: 80px;
}

.recent-blog-item-image {
    margin-right: 10px;
}

.recent-blog-item-info-top {
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #FF7E16;
    margin-bottom: 5px;
}

.recent-blog-item-info-title {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #0C0A06;
    line-height: 26px;
    display: inline-block;
}

.recent-blog-item-outer:hover .recent-blog-item-info-title {
    color: #FF7E16;
}

.tag-items-inner {
    display: inline-block;
    margin-right: 6px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'DM Sans';
    padding-bottom: 6px;
    color: #0C0A06;
}

.tag-items-inner:hover {
    color: #FF7E16;
}

.blog-contact-form-label {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #0C0A06;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.blog-contact-form-input {
    background: #FFEDDF;
    margin-bottom: 15px;
    height: 45px;
    border: 1px solid #FFEDDF;
    border-radius: 5px;
}

.blog-contact-form-input:focus,
.blog-contact-form-textarea:focus {
    box-shadow: none;
    border: 1px solid #FFEDDF;
}

.blog-contact-form-textarea{
    background: #FFEDDF;
    margin-bottom: 15px;
    border: 1px solid #FFEDDF;
    border-radius: 5px;
}

.blog-contact-form-btn {
    margin-top: 10px;
    width: 100%;
    background: #FF7E16;
    padding: 15px 0;
    border: 1px solid #FF7E16;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #fff;
    transition: all .3s ease;
}

.blog-contact-form-btn:hover {
    background: transparent;
    color: #FF7E16;
}
/*Blog page css End*/